## <center>Extract Data Using API

In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=9d2be5724ef73e7e03e0cd32e77bf280&language=en-US&page=1')

In [10]:
response

In [3]:
temp_df = pd.DataFrame(response.json()['results'])[['id','name','overview','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,name,overview,popularity,vote_average,vote_count
0,1396,Breaking Bad,"When Walter White, a New Mexico chemistry teac...",460.881,8.898,12996
1,94605,Arcane,Amid the stark discord of twin cities Piltover...,320.661,8.742,3568
2,37854,One Piece,"Years ago, the fearsome Pirate King, Gol D. Ro...",223.734,8.700,4281
3,60625,Rick and Morty,Rick is a mentally-unbalanced but scientifical...,890.698,8.699,9090
4,246,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",102.103,8.700,3680

In [4]:
df=pd.DataFrame()

In [34]:
for i in range(1,126):
    response = requests.get('https://api.themoviedb.org/3/tv/top_rated?api_key=9d2be5724ef73e7e03e0cd32e77bf280&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','name','overview','original_language','first_air_date','popularity','vote_average','vote_count']]
    df = pd.concat([temp_df,df],ignore_index=True)

In [37]:
df.shape

(2484, 8)

In [39]:
df

,id,name,overview,original_language,first_air_date,popularity,vote_average,vote_count
0,3626,American Idol,"Each year, hopeful singers from all over the c...",en,2002-06-11,15.193,5.2,134
1,10160,Big Brother,American version of the reality game show whic...,en,2000-07-05,41.425,4.9,185
2,1871,EastEnders,The everyday lives of working-class residents ...,en,1985-02-19,38.723,3.8,179
3,5,La Job,La Job is a French Canadian comedy television ...,fr,2006-10-09,5.093,0.6,159
4,39758,Bag of Bones,"Bestselling novelist Mike Noonan, unable to co...",en,2011-12-11,10.735,6.0,121
...,...,...,...,...,...,...,...,...
2479,83097,The Promised Neverland,"Surrounded by a forest and a gated entrance, t...",ja,2019-01-11,45.535,8.8,807
2480,61663,Your Lie in April,Kousei Arima was a genius pianist until his mo...,ja,2014-10-10,39.868,8.8,720
2481,65648,Maid Sama!,Misaki Ayuzawa is the first female student cou...,ja,2010-04-02,23.767,8.8,463
2482,65930,My Hero Academia,In a world where eighty percent of the populat...,ja,2016-04-03,48.538,8.8,3730
2483,92685,The Owl House,An animated fantasy-comedy series that follows...,en,2020-01-10,85.474,8.8,1107

In [40]:
df.rename(
    columns={"name":"Title",
                "first_air_date":"Release_Date"}
          ,inplace=True)

In [41]:
df

,id,Title,overview,original_language,Release_Date,popularity,vote_average,vote_count
0,3626,American Idol,"Each year, hopeful singers from all over the c...",en,2002-06-11,15.193,5.2,134
1,10160,Big Brother,American version of the reality game show whic...,en,2000-07-05,41.425,4.9,185
2,1871,EastEnders,The everyday lives of working-class residents ...,en,1985-02-19,38.723,3.8,179
3,5,La Job,La Job is a French Canadian comedy television ...,fr,2006-10-09,5.093,0.6,159
4,39758,Bag of Bones,"Bestselling novelist Mike Noonan, unable to co...",en,2011-12-11,10.735,6.0,121
...,...,...,...,...,...,...,...,...
2479,83097,The Promised Neverland,"Surrounded by a forest and a gated entrance, t...",ja,2019-01-11,45.535,8.8,807
2480,61663,Your Lie in April,Kousei Arima was a genius pianist until his mo...,ja,2014-10-10,39.868,8.8,720
2481,65648,Maid Sama!,Misaki Ayuzawa is the first female student cou...,ja,2010-04-02,23.767,8.8,463
2482,65930,My Hero Academia,In a world where eighty percent of the populat...,ja,2016-04-03,48.538,8.8,3730
2483,92685,The Owl House,An animated fantasy-comedy series that follows...,en,2020-01-10,85.474,8.8,1107

In [27]:
response.json()['results']

[{'backdrop_path': None,
  'first_air_date': '2006-10-09',
  'genre_ids': [35],
  'id': 5,
  'name': 'La Job',
  'origin_country': ['CA'],
  'original_language': 'fr',
  'original_name': 'La Job',
  'overview': "La Job is a French Canadian comedy television series set in Montreal. It is an adaptation of the British show The Office of the BBC. Produced by Anne-Marie Losique's Image Diffusion International, it has been broadcast for a limited number of viewers on Bell TV satellite television, beginning on October 9, 2006. It was later seen by a wider audience on the public broadcaster Radio-Canada and specialty channel ARTV. It is the third official foreign adaptation of the concept, and the second in a language other than English.",
  'popularity': 5.093,
  'poster_path': None,
  'vote_average': 0.6,
  'vote_count': 159}]